.container {
background-colo
text-align: cent
}
.row {
  text-align: center;
}
.c sol3 {
    color: rgb(0, 0, 0);
}
.col s6 {
  color: rgb(119, 25, 25);
}
.
.rowmenu {
  height: 60px;
  background-color: grey;
}
.footerr {
  text-align: e;
}